RewriteEngine on
RewriteCond %{HTTP_HOST} ^zerofee.nyc [NC]
RewriteRule ^(.*)$ http://www.zerofee.nyc/$1 [L,R=301,NC]

<IfModule mod_deflate.c>
    <filesMatch "\.(js|css|html|php|json|geojson)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</IfModule>